<form method='POST' action='/people/'>
	<label>Nombre: </label> <input type='text' name='nombre' id='nombre'>

	<label>Segundo nombre: </label> <input type='text' name='segundo-nombre' id='segundo-nombre'>

	<label>Tercer nombre: </label> <input type='text' name='tercer-nombre' id='tercer-nombre'>

	<label>Primer apellido: </label> <input type='text' name='primer-apellido' id='primer-apellido'>	

	<label>Segundo apellido: </label> <input type='text' name='segundo-apellido' id='segundo-apellido'>	
	
	<label>Género: </label>
	<input type="check" name="genero" value="f">
	<input type="check" name="genero" value="m">
	
</form>
