<script>
	window.departamentos = {{{ deptos }}};
</script>
<form method='POST' action='/inscribir-persona'>
	<label>DPI: </label> <input type='text' name='dpi' id='dpi'>
	<br/>
	<label>Nombre: </label> <input type='text' name='nombre' id='nombre'>
	<br/>
	<label>Segundo nombre: </label> <input type='text' name='segundo_nombre' id='segundo-nombre'>
	<br/>
	<label>Tercer nombre: </label> <input type='text' name='tercer_nombre' id='tercer-nombre'>
	<br/>
	<label>Primer apellido: </label> <input type='text' name='primer_apellido' id='primer-apellido'>	
	<br/>
	<label>Segundo apellido: </label> <input type='text' name='segundo_apellido' id='segundo-apellido'>	
	<br/>
	<label>Género: </label>
	<label>F</label><input type="radio" name="genero" value="f">
	<label>M</label><input type="radio" name="genero" value="m">
	<br>
	<label>Nacimiento: </label>
	<input type="date" name="nacimiento">
	<br>
	<label>Departamento: </label>
	<select id="departamentos">
		<option value=""></option>
		<script type="text/javascript">			
			var newOption = "";			
			for (var i = 0; i < departamentos.length;  i++) {
				newOption = "<option value='" + departamentos[i].id_departamento + "'>" + departamentos[i].nombre + "</option>"
				jQuery("#departamentos").append(newOption);
			}
		</script>		
	</select>
	<select id="municipios" name="id_municipio">		
		<script type="text/javascript">
			jQuery("#departamentos").on("change", function() {
				jQuery("#municipios").attr("disable",true);
				if ((jQuery(this).val())) {
					jQuery("#municipios").html("");
					var municipios = departamentos[jQuery(this).val() -1 ].municipios;
					var newOption = "";
					for (var i = 0; i < municipios.length;  i++) {
						newOption = "<option value='" + municipios[i].id_municipio + "'>" + municipios[i].nombre + "</option>"
						jQuery("#municipios").append(newOption);
						jQuery("#municipios").attr("disable",false);
					}
				}
			});
		</script>
	</select>
	<br>
	<label>Direccion: </label> <input type='text' name='direccion' id='direccion'>	
	<br/>
	<input type="hidden" name="access_token" value="{{ token }}"/>
	<input type="submit" value="Guardar"/>
</form>
